<h1 class="mt-4 mb-4 p0 ml-0 text-left text-light">Pipes <small>Angular</small></h1>
<div class="row">
    <div class="col">
        <table class="table" id="pipes">
            <thead class="text-center p0">
                <tr class="bg-black text-light">
                    <th>Variable</th>
                    <th>Pipe</th>
                    <th>Salida</th>
                </tr>
            </thead>
            <tbody class="text-center text-light p0">
                <tr class="bg-primary border-lime">
                    <td>{{nombreMrv}}</td>
                    <td>uppercase</td>
                    <td>{{nombreMrv|uppercase}}</td>
                </tr>
                <tr class="bg-primary border-lime">
                    <td>{{desarrolladopor}}</td>
                    <td>capitalize</td>
                    <td>{{desarrolladopor|capitalize:true}}</td>
                </tr>
                <tr class="bg-secondary border-lime">
                    <td>{{nombreJuice}}</td>
                    <td>lowercase</td>
                    <td>{{nombreJuice|lowercase}}</td>
                </tr>
                <tr class="bg-primary border-lime">
                    <td>{{nombreJuice}}</td>
                    <td>slice:4</td>
                    <td>{{nombreJuice|slice:4}}</td>
                </tr>
                <tr class="bg-secondary border-lime">
                    <td>{{arreglo}}</td>
                    <td>slice:1:5</td>
                    <td>{{arreglo|slice:1:5}}</td>
                </tr>
                <tr class="bg-primary border-lime">
                    <td>{{nombreJuice}}</td>
                    <td>slice:4 + uppercase</td>
                    <td>{{(nombreJuice|slice:4)|uppercase}}</td>
                </tr>
                <tr class="bg-secondary border-lime">
                    <td>{{PI}}</td>
                    <td>number:'1.0-5'</td>
                    <td>{{PI|number:'1.0-5'}}</td>
                </tr>
                <tr class="bg-primary border-lime">
                    <td>{{PI}}</td>
                    <td>number:'.0-4'</td>
                    <td>{{PI|number:'.0-4'}}</td>
                </tr>
                <tr class="bg-secondary border-lime">
                    <td>{{PI}}</td>
                    <td>number:'2.0-0'</td>
                    <td>{{PI|number:'2.0-0'}}</td>
                </tr>
                <tr class="bg-primary border-lime">
                    <td>{{porcentaje}}</td>
                    <td>percent</td>
                    <td>{{porcentaje|percent}}</td>
                </tr>
                <tr class="bg-secondary border-lime">
                    <td>{{porcentaje}}</td>
                    <td>percent:'2.2-2'</td>
                    <td>{{porcentaje|percent:'2.2-2'}}</td>
                </tr>
                <tr class="bg-primary border-lime">
                    <td>{{salarioMensualEur}}</td>
                    <td>currency:'EUR'</td>
                    <td>{{salarioMensualEur|currency:'EUR'}}</td>
                </tr>
                <tr class="bg-secondary border-lime">
                    <td>{{salarioMensualMXN}}</td>
                    <td>currency:'MXN$ ':'symbol:'.0-0'</td>
                    <td>{{salarioMensualMXN|currency:'MXN$ ':'symbol':'.0-0'}}</td>
                </tr>
                <tr class="bg-primary border-lime">
                    <td>{{salarioMensualUSN}}</td>
                    <td>currency:'USD$ '</td>
                    <td>{{salarioMensualUSN|currency:'USD$ '}}</td>
                </tr>
                <tr class="bg-secondary border-lime">
                    <td>{{salarioMensualUSN}}</td>
                    <td>currency:'USD':'symbol-narrow':'.0-5'</td>
                    <td>{{salarioMensualUSN|currency:'USD':'symbol-narrow':'.0-5'}}</td>
                </tr>
                <tr class="bg-primary border-lime">
                    <td>{{valorPromesa}}</td>
                    <td>async</td>
                    <td>{{valorPromesa|async}}</td>
                </tr>
                <tr class="bg-secondary border-lime">
                    <td>{{fecha1}}</td>
                    <td>date</td>
                    <td>{{fecha1|date}}</td>
                </tr>
                <tr class="bg-primary border-lime">
                    <td>{{fecha1}}</td>
                    <td>date:'medium'</td>
                    <td>{{fecha1|date:'medium'}}</td>
                </tr>
                <tr class="bg-secondary border-lime">
                    <td>{{fecha1}}</td>
                    <td>date:'short'</td>
                    <td>{{fecha1|date:'short'}}</td>
                </tr>
                <tr class="bg-primary border-lime">
                    <td>{{fecha1}}</td>
                    <td>date:'dd/MMMM/yyyy'</td>
                    <td>{{fecha1|date:'dd/MMMM/yyyy'}}</td>
                </tr>
                <tr class="bg-secondary border-lime">
                    <td>{{fecha1}}</td>
                    <td>date:'dd-MMMM-yyyy'</td>
                    <td>{{fecha1|date:'dd-MMMM-yyyy'}}</td>
                </tr>
                <tr class="bg-primary border-lime">
                    <td>{{fecha1}}</td>
                    <td>date:'dd-MMMM-yyyy':'':'en'</td>
                    <td>{{fecha1|date:'dd-MMMM-yyyy':'':'en'}}</td>
                </tr>
                <tr class="bg-secondary border-lime">
                    <td>{{fecha1}}</td>
                    <td>date:'dd-MMMM-yyyy':'':'fr'</td>
                    <td>{{fecha1|date:'dd-MMMM-yyyy':'':'fr'}}</td>
                </tr>
                <tr class="bg-primary border-lime">
                    <td>{{fecha1}}</td>
                    <td>date:'dd-MMMM-yyyy':'':'{{idioma}}'<br>
                        <button (click)="changeLenguaje('es-Mx')" class="m-2 btn btn-primary"><i class="flag flag-es"></i> Español</button>
                        <button (click)="changeLenguaje('en')" class="m-2 btn btn-info"><i class="flag flag-us"></i>Inglés</button>
                        <button (click)="changeLenguaje('fr')" class="m-2 btn btn-success"><i class="flag flag-fr"></i> Francés</button></td>

                    <td>{{fecha1|date:'dd-MMMM-yyyy':'':idioma}} </td>
                </tr>

            </tbody>
        </table>


        <h4 class="text-light">Slice 1:4</h4>
        <ol>
            <li class="text-light" *ngFor="let item of personajes">{{item}}</li>
        </ol>

        <ul>
            <li class="text-light" *ngFor="let item of personajes|slice:1:4">{{item}}</li>
        </ul>

        <h3 class="text-light">JSON</h3>
        <hr>
        <div class="row mb-2 mt-1">
            <div class="col text-light">
                <pre>{{heroe|json}}</pre>
            </div>
        </div>

    </div>

    <h3 class="mt-4">Domseguro</h3>
    <hr>
    <div class="row">
        <div class="col">
            <iframe width="560" height="315" [src]="videoUrl" title="YouTube video player" frameborder="0" allow="accelerometer;autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
    </div>